.footer {
  background: $color-primary;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: whitesmoke;
  align-items: center;
  font-size: 1.5rem;
  padding: .5rem 0;
  line-height: 175%;
  border-top: .5vh solid $color-tertiary;


  &__logo {
    width: 4rem;
    border-radius: 50%;
    padding: .1rem;
    transition: .25s background;

    &:hover {
      cursor: pointer;
    
    }
  }
}
