.nav {
  background: rgba(0, 0, 0, 0.25);
  padding: .5rem;

  &__content {
    text-align: center;
    font-size: 3rem;

    & > li {
      color: $color-secondary;
      display: inline-block;
      margin: 0 1rem;
      border-bottom: 2px solid transparent;
      border-top: 2px solid transparent;
      transition: .5s all;

      &:hover {
        border-bottom: 2px solid $color-secondary;
        border-top: 2px solid $color-secondary;
      }

    }
  }
}
