.about {

  border-bottom: 5px solid $color-tertiary;
  padding: 3rem 0;

  &__header {
    color: $color-primary;
    text-align: center;
    font-size: 5rem;

  }

  &__bio-mugshot-parent {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__bio {
    font-size: 2rem;
    max-width: 75ch;
  }

  &__mugshot {
    width: 30rem;
  }
}
