.about {
  border-bottom: 0.5vh solid $color-tertiary;
  padding: 3rem 0;

  &__header {
    color: $color-primary;
    text-align: center;
    font-size: 5rem;
  }

  &__bio-mugshot-parent {
    display: flex;
    justify-content: center;
    align-items: center;
    @include respond(tab-land) {
      flex-direction: column-reverse;
    }
  }

  &__bio {
    font-size: 2rem;
    max-width: 75ch;
    @include respond(tab-land) {
      margin-top: 1rem;
      max-width: 75%;
    }
    @include respond(phone) {
      max-width: 85%;
    }
  }

  &__mugshot {
    width: 30rem;
  }
}
