.definition {
    font-family: "Bitter", serif;
    font-weight: bold;
    margin: auto;
    width: fit-content;
    opacity: 0;
    animation: fade-in 3s 1s forwards;
    
    &__wrapper {
      margin: auto;
      width: fit-content;
    }
  
    &__heading {
      font-size: 6rem;
      margin: 0 auto;
      padding: 0;
    }
    &__pronounce {
      font-size: 2.5rem;
      margin: 0 auto;
      padding: 0;
    }
    &__type {
      font-size: 2rem;
      font-style: italic;
    }
    &__ul {
      list-style: none;
      & > li {
        font-size: 2rem;
      }
    }
  }
  