.gallery {
  text-align: center;
  background: $color-primary;
  padding: 4.5rem 0;
  border-top: .5vh solid $color-tertiary;
  border-bottom: .5vh solid $color-tertiary;
}

.carousel-image {
  width: 50rem;
  height: 35rem;
}

.flickity-page-dots .dot.is-selected {
  background: whitesmoke;
}