.gallery {
  text-align: center;
  position: relative;
  height: 55vh;

  @include respond(phone) {
    height: 40vh;
  }

  &__bg {
    background: linear-gradient(
      $color-primary,
      whitesmoke 25%,
      whitesmoke 75%,
       $color-primary,
      );
    // background: $color-primary;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    border-top: .5vh solid $color-tertiary;
    border-bottom: .5vh solid $color-tertiary;
  }
}

.main-carousel {
  border-top: 1rem solid whitesmoke;
  border-bottom: 1rem solid whitesmoke;
}

.carousel-image {
  width: 50rem;
  height: 35rem;
}