.instructions-intro {
  height: 50vh;
  text-align: center;
  margin: 8rem auto;
  // background: whitesmoke;

  &__header {
    font-size: 5rem;
    text-align: center;
  }

  &__text {
    line-height: 175%;
    margin: 1rem auto;
    font-size: 2rem;
    max-width: 75ch;
    text-align: left;
  }

  &__button {
    padding: 2rem 6rem;
    border: 0;
    margin: 3rem auto;
    font-size: 2.5rem;
    background: $color-primary;
    color: whitesmoke;
    box-shadow: 0 0.75rem 3rem gray;
    border-radius: 200px;
    border: 3px solid transparent;
    outline: none;
    transition: 0.25s opacity;
    &:hover {
      color: $color-primary;
      background: whitesmoke;
      border: 3px solid $color-primary;
      cursor: pointer;
    }
    &:active {
      box-shadow: 0 0.25rem 2rem gray;
    }
  }
}
