.intro {
  height: 60.75vh;
  clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 0% 100%, 0% 0%);
  background: $color-tertiary;
  position: relative;
  transform: scale(1.01);

  @include respond(tab-port) {
    height: 51vh;
  }

  @include respond(phone) {
    height: 25vh;
  }

  &__background {
    // gets rid of blurry edges from filter: blur();
    transform: scale(1.01);
    position: absolute;
    background: url("./img/httan-header-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    height: 60vh;
    width: 100vw;
    align-items: center;
    clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 0% 100%, 0% 0%);
    filter: blur(10px);

    @include respond(tab-port) {
      height: 50vh;
    }

    @include respond(phone) {
      height: 25vh;
      background: url("./img/httan-header-1.jpg");
      background-repeat: no-repeat;
      background-size: contain;
      background-attachment: fixed;
      clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 0% 100%, 0% 0%);
      filter: blur(2px);
    }
  }

  &__darken-cover {
    height: 100%;
    width: 100%;
    z-index: 999;
    background: rgba(0, 0, 0, .25);
  }

  &__content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__heading {
    position: relative;
    top: 8rem;
    opacity: 0;
    animation: fade-in 4s forwards, slide-up 3s forwards;
    color: white;
    font-size: 7rem;

    @include respond(phone) {
      text-align: center;
      font-size: 4rem;
      animation: none;
      opacity: 1;
      top: 0;
    }

    @include respond(small-phone) {
      font-size: 3.5rem;
    }
  }

  &__nothing-parent {
    font-size: 0;
    display: inline-block;
    width: fit-content;
 
    &> :nth-child(n):nth-child(-n + 8) {
      font-size: 7rem;
      animation: fade-out-in ease-in-out 4.5s forwards;
    }

    & :nth-child(7) {
      animation-delay: 1.5s !important;
    }

    & :nth-child(7) {
      animation-delay: 1.75s !important;
    }

    & :nth-child(6) {
      animation-delay: 2s !important;
    }

    & :nth-child(5) {
      animation-delay: 2.25s !important;
    }

    & :nth-child(4) {
      animation-delay: 2.5s !important;
    }

    & :nth-child(3) {
      animation-delay: 2.75s !important;
    }

    & :nth-child(2) {
      animation-delay: 3s !important;
    }

    & :nth-child(1) {
      animation-delay: 3.25s !important;
    }

  }

}