.schedule {
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: 0 0.5rem 2rem gray;
  padding: 2rem;

  @include respond(tab-port) {
    margin-bottom: 5rem;
  }

  @include respond(phone) {
    padding: 0;
    padding-bottom: 1rem;
    box-shadow: none;
  }

  &__content {
    width: fit-content;
    color: gray;
  }

  &__header {
    color: $color-primary;
    text-align: center;
    font-size: 5rem;

    @include respond(phone) {
      font-size: 3.5rem;
    }
  }

  &__iframe {
    width: 70rem;
    height: 80%;



    @include respond(tab-land) {
      width: 55rem;
    }

    @include respond(tab-port) {
      width: 70vw;
      height: 35%;
    }

    @include respond(phone) {
      width: 100vw;
    }


  }
}