.schedule {
  text-align: center;

  // background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
  //   url("./img/schedule-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: 0 1rem 3rem black;

  &__content {
    background: $color-primary;
    width: fit-content;
    padding: 1rem;
  }

  &__header {
    color: white;
    text-align: center;
    font-size: 5rem;
  }

  &__iframe {
    width: 70rem;
    height: 80%;
  }
}
