.schedule {
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: 0 0.5rem 2rem gray;
  padding: 2rem;

  &__content {
    // background: rgba(70, 132, 153, 0.75);
    width: fit-content;
    color: gray;
  }

  &__header {
    color: $color-primary;
    text-align: center;
    font-size: 5rem;
  }

  &__iframe {
    width: 70rem;
    height: 80%;
  }
}
