.step-bg {
  background: $color-primary;
}

.home-btn {
  opacity: 0;
  margin: 1rem;
  padding: 0;
  font-size: 5rem;
  animation: fade-in 1s forwards;
  position: absolute;
  top: 0;
  left: 0;
  text-decoration: none;
  color: $color-primary;

  &__icon {
    color: whitesmoke;
  }
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;

  &__bg-video {
    position: absolute;
    object-fit: fill;
    width: 100vw;
    height: 100vh;
    filter: blur(5px);
    transform: scale(1.1);
  }

  &__text {
    animation: fade-in-out 3s ease-in-out alternate infinite;
    color: whitesmoke;
    font-size: 4rem;

  }

  &__refresh-text {
    font-size: 2rem;
    color: whitesmoke;
    z-index: 1;
  }

  &__refresh-btn {
    background: whitesmoke;
    color: $color-primary;
    padding: 1rem 3rem;
    font-size: 3rem;
    margin-top: 4rem;
    box-shadow: 0 1rem 3rem black;
    border: 3px solid transparent;
    border-radius: 50px;
    transition: .1s all;
    outline: none;

    &:hover {
      background: $color-primary;
      color: whitesmoke;
    }

    &:active{
      border: 3px solid whitesmoke;
      box-shadow: none;
    }
  }

  &__text,
  &__refresh-btn {
    z-index: 1;
  }

}

.spinner {
  margin: 100px auto;
  width: 20rem;
  height: 10rem;
  text-align: center;
  font-size: 10px;
}

.spinner>div {
  background-color: whitesmoke;
  height: 100%;
  width: 2rem;
  display: inline-block;
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

.steps-intro {
  opacity: 0;
  animation: fade-in 2s forwards, fade-to-transparent 2s 5s forwards;
  background: $color-primary;
  position: relative;
  width: 100vw;
  height: 100vh;
  display: none;

  &__initial-content {
    position: relative;
    top: 25%;
    text-align: center;
    animation: slide-up 1s forwards, fade-in-out 5s forwards;
  }

  &__logo {
    border-radius: 50%;
    width: 25%;
    background: whitesmoke;
  }

  &__nothing-parent {
    display: inline-block;
    font-size: 0;
    width: fit-content;

    &> :nth-child(n + 2):nth-child(-n + 8) {
      font-size: 7rem;
      animation: fade-out 0.9s forwards;
    }

    & :nth-child(8) {
      animation-delay: 1.5s !important;
    }

    & :nth-child(7) {
      animation-delay: 1.75s !important;
    }

    & :nth-child(6) {
      animation-delay: 2s !important;
    }

    & :nth-child(5) {
      animation-delay: 2.25s !important;
    }

    & :nth-child(4) {
      animation-delay: 2.5s !important;
    }

    & :nth-child(3) {
      animation-delay: 2.75s !important;
    }

    & :nth-child(2) {
      animation-delay: 3s !important;
    }
  }

  &__primary-header {
    width: 100vw;
    text-align: center;
    font-size: 7rem;
    color: $color-secondary;
  }
}

.step-parent {


  display: flex;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100vw;
  height: 100vh;
  background: $color-primary;

}

.step {
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 75%;
  background: whitesmoke;


  &__header {

    // opacity: 0;
    font-size: 6rem;
    // animation: fade-in 3s forwards;
  }

  &__content {
    // opacity: 0;
    // animation: fade-in 3s 1s forwards;
    font-size: 2.25rem;
    line-height: 150%;
    width: 75ch;
  }

  &__btn-parent {
    margin: 2rem auto;
    text-align: center;

    &>button {
      font-size: 2rem;
      background: $color-primary;
      border: 0;
      box-shadow: 0 .25rem 1rem black;
      padding: 1rem 3rem;
      color: whitesmoke;
      transition: all .25s;

      &:hover {
        background: whitesmoke;
        color: $color-primary;
      }

      &:active {
        box-shadow: 0;
      }
    }

  }

  .step-one {
    justify-content: space-around;



    &__videos {
      text-align: center;
      width: 75%;

      &>h3 {
        font-size: 3rem;
      }
    }

    &__vid-1,
    &__vid-2 {
      font-size: 3rem;
      margin: 1rem;
      padding: 1rem 3rem;
      outline: none;
      border: 0;
      color: whitesmoke;
      background: $color-primary;
      box-shadow: 0 .25rem 1rem black;
      transition: all .25s;

      &:hover {
        background: whitesmoke;
        color: $color-primary;
      }

      &:active {
        box-shadow: none;
      }

    }

    &__icon-parent {
      width: 100%;
      height: 40rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &__icon {
      font-size: 10rem;
    }

    &__video-parent {
      margin: 0 auto;
    }

    &__video {
      width: 70rem;
      height: 40rem;
      margin: auto;
      display: none;

    }
  }
}